<%= form_with(model: [photo, comentary], local: true) do |form| %>
  <div class="container mt-3">
    <% if comentary.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(comentary.errors.count, "error") %> prohibited this comentary from being saved:</h2>
        <ul>
          <% comentary.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="card p-3 shadow">
      <h6 class="text-left">New Comment</h6>
      <div class="mb-2">
        <%# <%= form.label :description, style: "display: block" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>
      <div class="text-end">
        <%= form.submit "Submit", class: "btn btn-success" %>
      </div>
    </div>
  </div>
<% end %>
