<%= form_with(model: [photo, comentary], local: true) do |form| %>
  <div class="container mt-3">
    <% if comentary.errors.any? %>
      <div class="alert alert-danger">
        <h2><%= pluralize(comentary.errors.count, "error") %> prohibited this comentary from being saved:</h2>
        <ul>
          <% comentary.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="card p-3 shadow">
      <h3 class="text-center">Add a Comment</h3>
      <div class="mb-2">
        <%= form.label :description, style: "display: block" %>
        <%= form.text_field :description, class: "form-control" %>
      </div>
      <div class="text-center">
        <%= form.submit "Submit", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
