<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= photo.content %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= photo.image %>
  </p>

</div>
