<div id="<%= dom_id photo %>" class="photo-card" style="max-width: 400px; margin: 0 auto;">
  <% if photo.image.attached? %>
    <%= image_tag photo.image, style: "max-width: 100%; height: auto; display: block; margin: 0 auto;" %>
  <% end %>
  <div style="display: flex; justify-content: space-between;">
    <p style="font-weight: bold; text-align: left;">Title: <%= photo.title %></p>
    <p style="font-weight: bold; text-align: right;">User: <%= photo.user.name %></p>
  </div>
  <p style="text-align: justify;">Content: <%= photo.content %></p>
</div>
